@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
/*
font-family: 'Lato', sans-serif;
*/
.page-wrap {
    width: 100vw;
    height: 100vh;
    float: left;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
}
header {
    max-width: 1440px;
    width: 100%;
    margin: 10px auto 140px auto;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-button {
    width: 30px;
    cursor: pointer;
    display: none;
}
.burger-button span {
    display: block;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background: #fff;
}
.active-burger span:nth-child(1) {
    width: 26px;
    position: relative;
    transform: rotate(0deg);  
    top: 50%;
}
.active-burger span:nth-child(2) {
    width: 26px;
    position: relative;
    transform: rotate(-0deg);  
    top: 50%;
}
.active-burger span:nth-child(3) {
    display: none;
}
.logo-container {
    display: flex;
    align-items: center; 
    cursor: pointer;
}
.logo-container img {
    width: 26px;
    height: 19px;
    margin: 0 5px 3px 0;
}
.logo-container span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
}
nav {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-list-item {
    margin-right: 15px;
    cursor: pointer;
}
.active {
    font-weight: 700;
}
.user-interface {
    display: flex;
    align-items: center;
}
.language-slection {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}
.flag {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.language-slection span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 5px;
}
.triangle {
    width: 18px;
    height: 18px;
}
.login-button {
    width: 100px;
    height: 40px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    background: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
main {
    max-width: 1440px;
    width: 100%;
    margin: 10px auto;
}
main h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 86px;
    text-align: center;
    letter-spacing: 0.05em;

}
main p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    text-align: center;
}
.signup-button {
    display: block;
    width: 160px;
    height: 50px;
    margin: 40px auto;
    background: #FFF;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ED4C5C;
}
@media screen and (max-width: 850px) {
    header {
        justify-content: flex-start;
    }
    .burger-button {
        width: 30px;
        cursor: pointer;
        display: block;
    }
    .user-interface {
        margin-left: auto;
    }
    .logo-container {
        margin-left: 10px;
    }
    .logo-container img {
        
    }
    .logo-container span {
        font-size: 16px;
    }
    .hiden {
        display: none;
    }
    nav {
        position: absolute;
        top: 50px;
        left: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .nav-list-item {
        margin: 5px 15px 5px 0;
        cursor: pointer;
    }
    .language-slection {
        margin-right: 5px;
    }
    .flag {
        width: 28px;
        height: 28px;
        margin-right: 5px;
    } 
    .language-slection span {
        margin-right: 0;
    }
    .triangle {
        
    }
    .login-button {
        width: 90px;
        height: 35px;
    }
    main h1 {
        font-size: 36px;
    }
    main p {
    font-size: 18px;
    }
}
@media screen and (max-width: 374px) {
    .flag { 
        display: none;
    }
    .language-slection span {
        margin-top: 1px;
    }
    .login-button {
        width: 75px;
        height: 30px;
    }
    main p {
    font-size: 16px;
    }
}