html {
    font-family: Helvetica;
}
.wraper {
    max-width: 1448px;
    margin: 0 auto;
    background: #FAFAFA;
}
.search{
    min-width: 100%;
    height: 29px;
    border: 1px solid #DBDBDB;
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 5px;
    line-height: 17px;
    text-align: center;
    color: #8F8F8F;
    background: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 30% 55%;
}

.search:focus{
    background: none;
}
.direct {
    position: relative;
}
.direct span {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 3px;
    top: 5px;
    background: #DC565B;
    border-radius: 50%;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}