.buttonssmall__btnWithImg
    button.buttonsSmall__btnWithImg_success.btn__small.btn__small_right.btn__small_rightSuccess Download
    button.buttonsSmall__btnWithImg_disabled.btn__small.btn__small_right.btn__small_rightDisabled Download
    button.buttonsSmall__btnWithImg_secondary.btn__small.btn__small_right.btn__small_rightSecondary Download
    button.buttonsSmall__btnWithImg_info.btn__small.btn__small_right.btn__small_rightInfo Download
