.buttonsBig__btns
    .buttonsBig__btnWithoutImg
        button.buttonsBig__btnWithoutImg_success.btn__big Download
        button.buttonsBig__btnWithoutImg_disabled.btn__big Download
        button.buttonsBig__btnWithoutImg_secondary.btn__big Download
        button.buttonsBig__btnWithoutImg_info.btn__big Download
