.buttonssmall__btnWithImg
    button.buttonsSmall__btnWithImg_success.btn__small.btn__small_left.btn__small_leftDanger Download
    button.buttonsSmall__btnWithImg_disabled.btn__small.btn__small_left.btn__small_leftDisabled Download
    button.buttonsSmall__btnWithImg_secondary.btn__small.btn__small_left.btn__small_leftSecondary Download
    button.buttonsSmall__btnWithImg_info.btn__small.btn__small_left.btn__small_leftInfo Download
