.buttonssmall__btns
    .buttonsSmall__btnWithoutImg
        button.buttonsSmall__btnWithoutImg_success.btn__small Download
        button.buttonsSmall__btnWithoutImg_disabled.btn__smallbutton.buttonsSmall__btnWithoutImg_success.btn__small Download
        button.buttonsSmall__btnWithoutImg_secondary.btn__smallbutton.buttonsSmall__btnWithoutImg_success.btn__small Download
        button.buttonsSmall__btnWithoutImg_info.btn__smallbutton.buttonsSmall__btnWithoutImg_success.btn__small Download
        
