.buttonsBig__btnWithImg
    button.buttonsBig__btnWithImg_success.btn__big.btn__big_left.btn__big_LeftSuccess Download
    button.buttonsBig__btnWithImg_disabled.btn__big.btn__big_left.btn__big_LeftDisabled Download
    button.buttonsBig__btnWithImg_secondary.btn__big.btn__big_left.btn__big_LeftSecondary Download
    button.buttonsBig__btnWithImg_info.btn__big.btn__big_left.btn__big_LeftInfo Download
