.buttonsBig__btnWithImg
    button.buttonsBig__btnWithImg_success.btn__big.btn__big_right.btn__big_rightSuccess Download
    button.buttonsBig__btnWithImg_disabled.btn__big.btn__big_right.btn__big_rightDisabled Download
    button.buttonsBig__btnWithImg_secondary.btn__big.btn__big_right.btn__big_rightSecondary Download
    button.buttonsBig__btnWithImg_info.btn__big.btn__big_right.btn__big_rightInfo Download
