.buttonsSmall__tab2Col
    button.buttonsSmall__tabs_tab.tab-1 Tab 1
    button.buttonsSmall__tabs_tab.tab-2 Tab 2
    button.buttonsSmall__btnWithoutImg_dangerSearch
    button.buttonsSmall__btnWithoutImg_successSearch