/*swords*/
.swords {
    position: relative;
    width: 220px;
    height: 195px;
    margin: 50px auto;
    padding: 10px 15px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.swords>div {
    width: 190px;
    height: 5px;
    margin: 20px 0;
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
    display: flex;
    justify-content: space-between;
}
.sword-3 {
     transform-origin: bottom right;
}
.handle {
    width: 40px;
    height: 100%;
    background-color: #fff;
}
.blade {
    width: 140px;
    height: 100%;
    background-color: #fff;
}
.swords input {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 3;
}
.swords>input:checked ~ .sword-1 {
	display: none;
}
.swords>input:checked ~ .sword-2 {
    transform: rotate(25deg) translate(18px, 38px);
    transition-duration: .5s;
    box-shadow: 0 0 20px 5px rgb(245,37,37);
}
.swords>input:checked ~ .sword-3 {
    transform: rotate(-25deg) translate(13px, -43px);
    transition-duration: infinite;
    box-shadow: 0 0 20px 5px rgb(89,255,108);
}

/*ticker*/
.ticker {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.ticker_item {
	height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ticker_item span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.first-item {
    animation: leftShadow 1.5s linear;
    animation-iteration-count: infinite;
}
.last-item {
    animation: rightShadow 1.5s linear;
    animation-iteration-count: infinite;
}
.shadow-1 {
    width: 50px;
    height: 5px;
    margin-bottom: 0;
    background: linear-gradient(rgb(47, 79, 109, 0.2), rgb(47, 79, 109, 0.3), rgb(47, 79, 109, 0.2)) no-repeat;
    background-size: 100% 5px;
    border-radius: 5px;
}
.shadow-2 {
    width: 50px;
    height: 5px;
    background: linear-gradient(rgb(54, 75, 101, 0.2), rgb(54, 75, 101, 0.3), rgb(54, 75, 101, 0.2)) no-repeat;
    background-size: 100% 5px;
    border-radius: 5px;
}
.shadow-3 {
    width: 50px;
    height: 5px;
    background: linear-gradient(rgb(79, 70, 88, 0.2), rgb(79, 70, 88, 0.3), rgb(79, 70, 88, 0.2)) no-repeat;
    background-size: 100% 5px;
    border-radius: 5px;
}
.shadow-4 {
    width: 50px;
    height: 5px;
    background: linear-gradient(rgb(120, 64, 69, 0.2), rgb(120, 64, 69, 0.3), rgb(120, 64, 69, 0.2)) no-repeat;
    background-size: 100% 5px;
    border-radius: 5px;
}
.shadow-5 {
    width: 50px;
    height: 5px;
    background: linear-gradient(rgb(161, 58, 53, 0.2), rgb(161, 58, 53, 0.3), rgb(161, 58, 53, 0.2)) no-repeat;
    background-size: 100% 5px;
    border-radius: 5px;
}
.shadow-6 {
    width: 50px;
    height: 5px;
    background: linear-gradient(rgb(199, 52, 39, 0.2), rgb(199, 52, 39, 0.3), rgb(199, 52, 39, 0.2)) no-repeat;
    background-size: 100% 5px;
    border-radius: 5px;
}
.shadow-7 {
    width: 50px;
    height: 5px;
    background: linear-gradient(rgb(213, 54, 36, 0.2), rgb(213, 54, 36, 0.3), rgb(213, 54, 36, 0.2)) no-repeat;
    background-size: 100% 5px;
    border-radius: 5px;
}

.dot-1 {
	background-color: #2F4F6D;
    animation: leftTicker 1.5s linear;
    animation-iteration-count: infinite;
}
.dot-2 {
	background-color: #364B65;
}
.dot-3 {
	background-color: #4F4658;
}
.dot-4 {
	background-color: #784045;
}
.dot-5 {
	background-color: #A13A35;
}
.dot-6 {
	background-color: #C73427;
}
.dot-7 {
	background-color: #D53624;
    animation: rightTicker 1.5s linear;
    animation-iteration-count: infinite;
}

@keyframes leftTicker {
    0%{
        transform: translate(0px, -50px); 
    }
    10% {
        transform: translate(0px, -25px);
    }
    20% {
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 0px);
    }
    80%{
        transform: translate(0px, 0px);
    }
    90%{
        transform: translate(0px, -25px);
    }
    100% {
        transform: translate(0px, -50px);    
    }
}

@keyframes rightTicker {
    0%{
        transform: translate(0px, 0px); 
    }
    30% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(0px, -25px);
    }
    50%{
        transform: translate(0px, -50px);
    }
    60%{
        transform: translate(0px, -25px);
    }
    70%{
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);    
    }
}
@keyframes leftShadow {
    0%{
        transform: translate(-50px, 0px)
    }
    10% {
        transform: translate(-25px, 0px);
    }
    20% {
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 0px);
    }
    80%{
        transform: translate(0px, 0px);
    }
    90%{
        transform: translate(-25px, 0px);
    }
    100% {
        transform: translate(-50px, 0px);    
    }
}

@keyframes rightShadow {
    0%{
        transform: translate(0px, 0px); 
    }
    30% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(25px, 0px);
    }
    50%{
        transform: translate(50px, 0px);
    }
    60%{
        transform: translate(25px, 0px);
    }
    70%{
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);    
    }
}