@import url(avenir.css);
@import url(helvetica.css);

body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%) no-repeat;
    background-size: contain;
}
.page-wrap {
    
}
header {    
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 754px;
}
nav {
    max-width: 1120px;
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Avenir;
}
.nav__logo {
    
}
.nav__menu {
    display: flex;
    align-items: center;
    margin: 0 auto 0 120px;
}
.nav__item {
    margin-right: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.nav__item:hover {
    text-decoration: underline;
}
.active {
    color: #212353;
}
.nav__transition-button {
    display: block;
    width: 210px;
    height: 60px;
    background: #FFF url(../img/right-arrow.png) no-repeat;
    background-position: right 29px top 23px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding-left: 29px;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    text-align: left;
    cursor: pointer;
}
.header__content {
    margin-top: 130px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header__text {
}
.header__text h1 {
    max-width: 645px;
    margin-bottom: 50px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}
.header__text p {
    max-width: 380px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.header__text button {
    width: 170px;
    height: 60px;
    margin-top: 50px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.header__text button:hover {
    color: #000;
}
.header__img {
    max-width: 885px;
    margin: 96px 0 0 -282px;
}

main {    
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 754px;
}
.about {
    max-width: 1117px;
    min-height: 560px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(240, 99, 184, 0.15) no-repeat;
    border-radius: 50px;
}
.about__img {
    margin-left: 10px;
}
.about__img img {}
.about__text {
    margin-left: 60px;
}
.about__text h2 {
    max-width: 475px;
    margin-bottom: 40px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.about__text p {
    max-width: 474px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.features {
    max-width: 1117px;
    margin-top: 150px;
}
.features h3 {
    width: 405px;
    margin: 0 auto;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #212353;
}
.features>p {
    max-width: 584px;
    margin: 50px auto 70px auto;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
}
.features__list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.features__item {
    flex-basis: 50%;
    min-height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}
.features__item img {
    margin: 0 15px;
}
.features__item div {
    flex-basis: 225px;
    min-height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 15px;
}
.features__item div h4 {
    margin-bottom: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}
.features__item div p {
    margin-bottom: 20px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.features__item div button {
    width: 130px;
    height: 26px;
    display: block;
    background-color: none;
    background: url(../img/right-arrow.png) no-repeat;
    background-position: top 6px right 0px;
    border: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    text-align: left;
}
.feedback {
    max-width: 1118px;
    min-height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    margin: 170px 0 0 20px;
}
.feedback h3 {
    margin: 110px 90px 90px 90px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}
.feedback__carrousel {
    max-width: 949px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(116, 109, 225, 0.3);
    border-radius: 20px;
    z-index: 100;
}
.feedback__item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 60px 20px 50px 20px;
    box-sizing: border-box;
}
.feedback__item img {
    display: block;
}
.feedback__item div {
    max-width: 565px;
    padding: 20px 0 0 45px;;
    box-sizing: border-box;
}
.feedback__item div h4 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}
.feedback__item div a {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2;
}
.feedback__item div p {
    margin-top: 20px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}
.feedback__carrousel__control {
    max-width: 949px;
    margin: 60px auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dots {
    display: flex;
    align-items: center;
}
.dot {
    display: block;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-radius: 50%;
    background: #FFFFFF;
}
.dot:first-child {
    margin: 0;
}
.active-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F063B8;
}
.arrows {
    display: flex;
    align-items: center;
}
.prev {
    cursor: pointer;
}
.next {
    cursor: pointer;
    margin-left: 20px;
}

.footer-border {
    width: 100%;
    height: 2px;
    margin-top: 150px;
    background: #9C69E2;
    opacity: 0.2;
}
footer {
    max-width: 1250px;
    margin: 100px auto 90px auto;
}
.footer-top {
    max-width: 1120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-top__text {
    margin-right: auto;
}
.footer-top__text h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.footer-top__text p {
    margin-top: 20px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.footer-top__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.learn-more {
    display: block;
    width: 170px;
    height: 60px;
    margin-right: 30px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.learn-more:hover, .header__text button:hover {
    background-color: #fff;
    color: #9C69E2;
    border: 1px solid #9C69E2;
    box-sizing: border-box;
}
.request-demo {
    display: block;
    width: 210px;
    height: 60px;
    background: #FFF url(../img/right-arrow.png) no-repeat;
    background-position: right 29px top 23px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding-left: 29px;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    text-align: left;
    cursor: pointer;
}
.request-demo:hover, .nav__transition-button:hover {
    background: background: #FFF url(../img/right-arrow.png) no-repeat;
    background-size: 12%;
    background-position: right 29px top 22px;
    font-size: 16.5px;
}
.footer-nav, .footer-bottom{
    max-width: 1120px;
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-nav__block {
    display: flex;
    flex-direction: column;
}
.footer-nav__block ul li:hover, .footer-nav__block a:hover {
    text-decoration: underline;
}
.title {
    margin-bottom: 65px;
    display: flex;
    align-items: center;
}
.title h3 {
    margin-left: 20px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
}
.adress {
    max-width: 335px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.email, .phone {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.footer-nav__block>a {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}
.footer-nav__block ul {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}
.block-social ul {
    flex-direction: row;
}
.block-social ul li {
    margin-right: 14px; 
    width: 50px;
    height: 50px;
}
.block-social ul li:last-child {
    margin: 0;
}
.footer-bottom__privecy {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.footer-bottom__chat {
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    header {
        width: 90%;
        margin: auto;
    }
    .header__text {
        width: 90%;
        margin: 0 auto;
    }
    .header__text>h1, .header__text>p {
        max-width: 100%;
        text-align: center;
    }
    .header__img {
        width: 80%;
        margin: 0 auto;
    }
    .header__img img {
        width: 100%;
    }
    .header__text button {
        display: block;
        margin: 50px auto;
    }
    .about {
        width: 90%;
        margin: 100px auto 0 auto;
    }
    .about__img {
        width: 100%;
        text-align: center;
    }
    .about__img img {
        width: 100%;
    }
    .about__text {
        width: 90%;
        margin: 20px auto;
    }
    .about__text h2, .about__text p {
        max-width: 100%;
        text-align: center;
    }
    .features {
        width: 90%;
        margin: 150px auto 0 auto;
    }
    .feedback {
        width: 90%;
        margin: 170px auto 0 auto;
    }
    .feedback__carrousel {
        width: 90%;
    }
    .feedback__carrousel__control {
        width: 85%;
        margin: 40px auto 20px auto;
    }
    footer {
        width: 90%;
        margin: 100px auto 90px auto;
    }
}
@media screen and (max-width: 1179px) {
    .features__item {
        margin: 50px 0;
    }
    .features__item img {
        margin: 0 15px;
    }
    .features__item div {
        flex-basis: 70%;
        min-height: 236px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 15px;
        text-align: center;
    }
    .features__item div button {
        margin: 0 auto;
    }
}
@media screen and (max-width: 830px) {
    .nav__menu {
        margin: 0 auto;
    }
    .footer-top__text {
        width: 100%;
        text-align: center;
    }
    .footer-top__buttons {
        width: 100%;
        margin: 20px auto auto;
        justify-content: center;
        align-items: center;
    }
    .footer-top__button {
        margin: 20px auto;
    }
    .footer-nav__block {
        flex-basis: 50%;
        margin: 20px auto;
        justify-content: space-between;
    }
}
@media screen and (max-width: 724px) {
    .header__text h1 {
        font-size: 60px;
    }
    .nav__menu {
        width: 100%;
        margin: 30px auto 0 auto;
        order: 1;
        justify-content: space-between;
    }
    .features__list {
        justify-content: center;
    }
    .features__item {
        flex-basis: 60%;
    }
    .feedback h3 {
        width: 100%;
        margin: 30px auto;
        text-align: center;
    }
    .footer-nav {
        width: 50%;
        margin: 0 auto;
        justify-content: center;
    }
    .footer-nav__block {
        flex-basis: 100%;
    }
}
@media screen and (max-width: 424px)