.buttonsSmall__tabs_tabSearch{
    width: 48px;
    height: 36px;
}

.buttonsSmall__tabs_tabSearch.tab-1{
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 12px 6px;
    background-color: #18A0FB;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid transparent;
    color: #fff;
    margin-right: -5px;
    outline: none;

    &:hover{
        background-color: #18A0FBAA;
        cursor: pointer;
    }

    &:active{
        background-color: #81A0FB;
    }
}

.buttonsSmall__tabs_tabSearch.tab-2{
    margin-right: -5px;
    border: 1px solid #e0e0e0;
    outline: none;
    background-image: url('../img/search_dark.svg');
    background-repeat: no-repeat;
    background-position: 16px 10px;

    &:hover{
        background-color: darkgrey;
        cursor: pointer;
    }

    &:active{
        background-color: lightgrey;
    }
}

.buttonsSmall__tabs_tabSearch.tab-3{
    border: 1px solid #e0e0e0;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    background-image: url('../img/search_dark.svg');
    background-repeat: no-repeat;
    background-position: 16px 10px;

    &:hover{
        background-color: darkgrey;
        cursor: pointer;
    }

    &:active{
        background-color: lightgrey;
    }
}

.brNone{
    border-radius: 0;
}